body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.08em;
	line-height: 1.7em;
	padding: 1.8rem 1rem;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track:vertical {
	background: #d6dad6;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
	background: #c4c9cc;
	border-radius: 10px;
}
